amqp==2.2.2
argcomplete==1.9.2
base58==0.2.4
billiard==3.5.0.3
boto3==1.5.22
botocore==1.8.36
celery==4.1.0
certifi==2018.1.18
cfn-flip==1.0.0
chardet==3.0.4
click==6.7
Django==2.1.2
django-cors-headers==2.1.0
docutils==0.14
durationpy==0.5
future==0.16.0
google-api-python-client==1.6.5
hjson==3.0.1
httplib2==0.10.3
idna==2.6
Jinja2==2.10
jmespath==0.9.3
kappa==0.6.0
kombu==4.1.0
lambda-packages==0.19.0
MarkupSafe==1.0
numpy==1.14.3
oauth2client==4.1.2
placebo==0.8.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pyfcm==1.4.5
pymongo==3.6.0
python-dateutil==2.6.1
python-slugify==1.2.4
pytz==2017.3
PyYAML==3.12
requests==2.18.4
requests-toolbelt==0.8.0
rsa==3.4.2
s3transfer==0.1.12
six==1.11.0
toml==0.9.4
tqdm==4.19.1
troposphere==2.2.0
Unidecode==1.0.22
uritemplate==3.0.0
urllib3==1.22
vine==1.1.4
Werkzeug==0.12
wsgi-request-logger==0.4.6
XlsxWriter==1.0.5
zappa==0.45.1
